body {
    overflow-x: hidden;
    outline: none !important;
}

.header {
    justify-content: center;
    width: 100%;
    align-items: center;
    display: block;
    height: 56vw;
    display: flex;
}

.header div.imagem {
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: inherit;
    top: 0;
}

.header h1 {
    align-items: center;
    width: 100%;
    display: block;
    text-align: center;
    padding: 1em;
}

.header .imagem img {
    /* The image used */
    /* background-image: url("../images/fundo.jpg;"); */
    /* Full height */
    height: 56vw;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: block; */
    /* position: absolute;
     */
    vertical-align: middle;
    margin: 0;
}

.header .imagem .text {
    position: relative;
    width: 100%;
}

.header .imagem .text h1 {
    position: absolute;
    color: #fff;
    text-align: left;
    top: 2.25em;
    width: 50%;
    left: 20%;
    opacity: 1;
    display: flex;
    font-size: 4em;
    line-height: 1;
}

.header .imagem h3 {
    position: absolute;
    color: #fff;
    text-align: left;
    top: 450px;
    width: 35%;
    left: 25%;
    opacity: 1;
    display: flex;
    font-size: 2.5em;
    line-height: 1;
}

.home {
    display: block;
    width: 100%;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row !important;
    z-index: 1000;
    position: absolute;
    top: 30px;
}

.menu .nav-principal {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.logo-escala {
    width: 70px;
    height: 70px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.menu ul li {
    padding: 0 1em;
}

.menu ul li a {
    color: #fff;
}

.home .card:hover {}

.quem-somos {
    text-align: center;
}

.quem-somos p {
    font-size: 1.5em;
    padding: 0 4em;
}

.home {
    margin: 3em auto 5em;
    text-align: center;
}

.home .cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cards .card-title {
    color: #144027;
}

.quem-somos h2,
.home h3 {
    color: #457347;
}

.contato {
    margin: 0 auto 0;
    background-color: #8CBF3F;
}

.contato h2 {
    color: #144027;
    font-size: 3em;
}

.contato p {
    font-size: 2em;
}

.contato-content {
    padding: 2em 6em;
}

.home .cards .card {
    margin: 1em;
    font-size: 1em;
}

form button.btn-primary {
    align-items: right;
    text-align: end;
    //background-color: #144027;
}

footer {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: #457347;
}

footer img {
    margin: .5em auto;
    width: 60px;
    height: 60px;
}